<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- custom css that we are providing -->
    <link rel="stylesheet" href="./css/styles.css" />

   
    <title>Index</title>
  </head>
  <body>
    {{>header}}
     <h3 class="useSite">Use this site to get your weather!</h3>
      <form>
        <input class="inputClass" placeholder="location"/>
        <button class="submitButton">Search</button>
      </form>

      <p class="dataLocation"></p>
      <p class="weatherUpdate"></p>
  
    {{>footer}}

     <!-- custom js that we are providing -->
    <script src="./js/app.js"></script>
  </body>
</html>